*{
    margin: auto;
    padding: 0;
}

.headerElement{
    text-align: center;
}
.mainElement{
    text-align: left;
    padding-left: 20px;
}
.pDialog{
    text-align: center;
}
.divError{
    line-height: 200px;
}
.dialogError{
    color: red;
    line-height: 200px;
}
.dialogP{
    text-align: center;
}
span{
    color: red;
}
